@import "variables.scss";

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  border-radius: 4px;
  padding: 8px 30px;
  text-align: center;
  color: $dark-purple;
  label {
    font-family: $header-font;
    font-weight: 500;
    color: $teal;
  }
  input {
    padding: 8px 16px;
    border: none;
    box-shadow: 1px 1px 6px $lightgrey;
    border-radius: 4px;
  }
  input[type="text"] {
    font-family: $body-font;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    &:focus {
      outline: auto rgba(100, 151, 166, 0.7);
    }
  }
  input[type="submit"] {
    background-color: $light-teal;
    color: $white;
    font-family: $header-font;
    font-size: 20px;
    font-weight: 500;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
  .form-risk-button {
    text-align: center;
    p {
      margin-bottom: 6px;
    }
    .green-text {
      color: $green;
    }
    .orange-text {
      color: $orange;
    }
    .red-text {
      color: $red;
    }
  }
}
