@import 'form.scss';
@import 'infos.scss';
@import 'header.scss';
@import 'results.scss';
@import 'socialmediainfo.scss';
@import 'timewindow.scss';
@import 'variables.scss';


body{
    background-color: $offwhite;
    color: $dark-purple;
    h1, h2, h3, h4, h5, h6{
        font-family: $header-font;
        font-weight: 500;
    }
}