@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300;500&display=swap');
//fonts
$header-font: 'Poppins';
$body-font: 'Roboto';

// colors
$offwhite: #f9f8f7;
$lightgrey: #E7EAEE;
$grey: #465362;
$teal: #50808E;
$dark-purple: #170A1C;
$red: #D62828;
$orange: #FA9F42;
$green: #52B788;
$white:white;

